.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.idx
*.pkl
*.pt
*.pyc
env/
venv/
wandb/
# Character analysis output files
*_char_analysis.json
*out0/*
*out1/*
*out2/*
*out/*
*out0
*out1
*out2
*out
out_*
*.zst*
draft.txt
*.jsonl
*.json
